@charset "utf-8";

@import "bulma/sass/utilities/_all";

// Set your colors
$lavender: hsl(275, 20%, 50%);
$lavender-dark: hsl(275, 20%, 40%);
$primary: $lavender;
$scheme-main: hsl(275, 5%, 15%);
$scheme-main-bis:hsl(275, 5%, 12%);
$scheme-main-ter:hsl(275, 5%, 15%);;
$body-background-color: hsl(275, 5%, 10%);

$scheme-invert: hsl(275, 5%, 00%);

$text: hsl(0, 0%, 80%);
$text-strong: hsl(0, 0%, 90%);
$background: hsl(275, 5%, 10%);
$body-color: hsl(0, 0%, 80%);

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

$secondary: hsl(273, 29%, 24%);
$secondary-dark: findDarkColor($secondary);
$secondary-light: findLightColor($secondary);
$secondary-invert: findColorInvert($secondary);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
    (
        "white": (
            $white,
            $black,
        ),
        "black": (
            $black,
            $white,
        ),
        "light": (
            $light,
            $light-invert,
        ),
        "dark": (
            $dark,
            $dark-invert,
        ),
        "primary": (
            $primary,
            $primary-invert,
            $primary-light,
            $primary-dark,
        ),
        "link": (
            $link,
            $link-invert,
            $link-light,
            $link-dark,
        ),
        "info": (
            $info,
            $info-invert,
            $info-light,
            $info-dark,
        ),
        "success": (
            $success,
            $success-invert,
            $success-light,
            $success-dark,
        ),
        "warning": (
            $warning,
            $warning-invert,
            $warning-light,
            $warning-dark,
        ),
        "danger": (
            $danger,
            $danger-invert,
            $danger-light,
            $danger-dark,
        ),
        "secondary": (
            $secondary,
            $secondary-dark,
            $secondary-light,
            $secondary-invert,
        ),
    ),
    $custom-colors
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

@import "bulma/bulma";
@import '@oruga-ui/theme-bulma/dist/scss/bulma';
@import "bulma-extensions/bulma-divider/src/sass/index.sass";

.o-ctrl-sel{
	width:100%;
}

.o-field__label{
	color: $text-strong;
}

.o-switch__check--checked{
	background: $lavender;
}

.table.is-hoverable.is-striped tbody tr:not(.is-selected):hover {
	background-color: $lavender;
}

.table.is-hoverable.is-striped tbody tr:not(.is-selected):hover:nth-child(even) {
	background-color: $lavender-dark;
}

.o-btn{
	background-color: $lavender;
}

.o-btn:active{
	background-color: $lavender-dark;
}

.o-icon.o-input__icon-right{
	color:#222;
}

.o-icon--danger {
	color: #b60000 !important;
}

@media screen and (min-width: 769px) {
	.column.is-one-quarter, .column.is-one-quarter-tablet{
		border-right: 1px solid #222;
		border-bottom: 0px solid #222;
	}
}
@media screen and (max-width: 769px){
	.column.is-one-quarter, .column.is-one-quarter-tablet{
		border-bottom: 1px solid #222;
		border-right: 0px solid #222;
	}
}

div.control.select:has(.is-fullwidth){
    width:100%;  
}

select {
    border-color:$lavender !important;
}

select.is-fullwidth{
    width:100%;
}

.select select option {
    color: $text;
}

input[type=text] {
    border-color: $lavender;
}

.textarea {
    border-color: $lavender;
}

.is-circular { 
    border-radius: 50% !important; 
}
.b-tooltip.is-secondary .b-tooltip-content {
    color: $text
}

.is-divider[data-content]::after, .is-divider-vertical[data-content]::after {
    background-color: $grey-darker;
}

.modal-card-head {
    background-color: $lavender;
    border-bottom-color: $lavender-dark;
}

.modal-card hr {
    background-color: $lavender-dark;
}

.modal-card-foot {
    border-top-color: $lavender;
}

.b-tabs .tabs:not(.is-toggle), .b-tabs .tabs:not(.is-toggle-rounded) {
    border-bottom-color: $lavender-dark;
}

.is-fullwidth > nav > div {
    width:100%;
}

.b-tabs .tabs.is-boxed div a.is-active{
    background-color: $lavender;
    border-color: $lavender-dark;
    color: $text-strong;
}

.level {
    border-color: transparent;
}